.title {
  color: #333;
  text-align: center;
}
.menu {
  list-style: none;
  display: flex;
  
}
.custom{
  align-items: flex-end;
  justify-content: flex-end;
  padding-left: 55rem;
  
}
.a {
 margin:0.5rem;
 font-size:20px;
}

.a:hover{
  background-color:red;
}





